body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0;
  }

  .video {
    display: flex;
    gap: 20px; /* Space between videos */
  }

  video {
    width: 500px;
    height: auto;
  }